.about-title {
    padding: 20px;
    width: 100%;
    background-color: var(--red);
}

.about-container {
    margin: 0 auto;
    width: 40%;
    padding-top: 40px;
}

.about-text a {
    text-decoration: none;
    color: black;
}

.about-text p {
    font-size: 1.2rem;
    color: #1A1A1A;
    text-decoration: none;
    text-align: left;
    line-height: 1.6;
}