.footer-container {
    border-top: 1px solid #00FF00;
    background: var(--offwhite);
    /* margin-left: 40px;
    margin-right: 40px; */
    position:absolute;
    bottom:0;
    width:100%;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
}

.footer-content {
    text-align: center;
}


/* border-top: 1px solid #00FF00;
    margin-left: 40px;
    margin-right: 40px;
    
    text-align: left;
    color: #000000;
    font-size: 1.05em;
    line-height: 1.4em; */