.work-category-container {
    padding: 20px;
    width: 100%;
    background-color: var(--red);
}

.category-title {
    font-size: 1rem;
    color: #1A1A1A;
    letter-spacing: .05rem;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    width: 100%;
    background-color: var(--red);
}

.work-category-container h1 {
    padding-left: 90px;
    font-weight: normal;
}

.work-text-container {
    margin: 0 auto;
    width: 45%;
    padding-top: 40px;
}

.work-title {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
    letter-spacing: .15rem;
    font-weight: 700;
}

.work-info {
    font-size: 1rem;
    color: #1A1A1A;
    text-decoration: none;
    text-align: left;
    padding-bottom: 50px;
    line-height: 1.6;
}

.work-image-container {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    /* height: auto; */
    overflow: auto;
}

/* .work-image1-div {
    display: flex;
    justify-content: center;
} */

.work-image1 {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}